.order-history {
   margin: 50px 0;
   overflow: auto;
   h4 {
      margin-bottom: 15px;
      text-transform: uppercase;
   }
   .order-table {
      margin-bottom: 50px;
      overflow: auto;
      .table {
         caption-side: bottom;
         border-collapse: collapse;
         border-spacing: 0px;
         tbody {
            border-top: 0px;
         }
         thead {
            background: #f7f7f8;
            th {
               color: #121619;
               font-weight: 600;
               padding: 15px !important;
               border: 1px solid #e5e5e5;
               text-align: center;
            }
         }
         td {
            border: 1px solid #e5e5e5;
            color: #666;
            padding: 15px !important;
            text-align: center;
            align-items: center;
         }
      }
   }
}
