.page-banner {
   margin: 0px 0 50px 0;
   background: url(../../images/page-banner.jpeg);
   background-size: cover;
   background-position: center;
   .overlay {
      padding: 140px 0 100px 0;
      background: rgba(0, 0, 0, 0.6);
   }
   .page-header-text {
      text-align: center;
      color: #fff;
      h3 {
         text-transform: capitalize;
         font-family: 'Pacifico', cursive !important;
         color: #fe9d3e;
         font-weight: 500 !important;
         margin-bottom: 0;
      }
   }
}